<!DOCTYPE html>
<!--
Copyright IBM Corp, 2015

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->
#unicode UTF-8
#import gettext
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang)
#silent _ = t.gettext
#silent _t = t.gettext
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../css/settings.css">
  <script type="text/javascript" src="../../js/wok.user-log.js"></script>
  <script type="text/javascript" src="../../js/wok.bootgrid.js"></script>
</head>

<body>
  <div id="wok-root-container" class="wok">
    <div class="container">
      <div id="wokSettings" class="wok-settings">
        <!-- User Log Panel -->
        <div class="panel-group content-area accordion" id="user-log-content-area-accordion" role="tablist" aria-multiselectable="true">
          <h3>
            <a role="button" aria-expanded="true" data-toggle="collapse" data-parent="#user-log-content-area-accordion" href="#user-log-content-area" aria-expanded="false" aria-controls="user-log-content-area" class="">
              <span class="accordion-icon"></span>
              <span class="accordion-text">$_("User Activity Log")</span>
            </a>
          </h3>
          <div id="user-log-content-area" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="row" id="user-logs">
              <div class="clearfix">
                <span id='message-container-area' style='display: none;'></span>
                <div class="action-group">
                  <div id="user-log-actions" class="pull-left">
                    <button id="advanced-search-button" class="btn btn-primary">$_('Advanced Search')</button>
                    <button id="download-button" class="btn btn-primary" data-search="">$_('Download')</button>
                    <button id="refresh-button" class="btn btn-primary">$_('Refresh')</button>
                  </div>
                </div>
                <div id="user-log-content" class="row col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modalWindow" class="modal fade settings-modal wok" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
  </div>
  <script>
    wok.initSettings();
  </script>
</body>

</html>
